name: Coverage report

on:
  workflow_run:
    workflows: [ "Test" ]
    types:
      - completed

permissions:
  checks: write        # Required for creating check runs
  pull-requests: write # Required for PR comments
  actions: read        # Required for downloading artifacts

jobs:
  coverage:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.event == 'pull_request' }}

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 0

      - name: Download Coverage Artifacts
        uses: dawidd6/action-download-artifact@ac66b43f0e6a346234dd65d4d0c8fbb31cb316e5
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          workflow: ${{ github.event.workflow_run.workflow_id }}
          commit: ${{ github.event.workflow_run.head_commit.id }}
          name: coverage
          path: coverage

      - name: Produce Coverage report
        uses: ./
        with:
          path: coverage/cobertura-coverage.xml
          minimum_coverage: 75
          fail_below_threshold: true
